<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SitesAndSensors" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <appSettings>
    <!-- ... -->
    <add key="fdotCSVFilename" value="FDOT_rating_DDF.csv"/>
    <add key="OneRainURL" value="https://tallahassee.onerain.com/export/file/rollup/?"/>
    <add key="OneRainDataColumn" value="1"/>
    <add key="FiveMinDurationIntervals" value="1,2,3,4,5,6,7,8,9,10,11,12,18,24,30,36,48,60,72,96,144,192,288,576,864,1152,2016,2880"/>
    <!-- ... -->
  </appSettings>
  <connectionStrings>
    <add name="fdotCSV" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source='C:\Users\nesiusm\OneDrive - City of Tallahassee\Documents\_dev\oneRain\OneRainGraph';Extended Properties='Text;HDR=yes;FMT=Delimited'"/>
  </connectionStrings>
  <SitesAndSensors>
    <add key="City Hall (100)" value="4,b42bb2fe-9fb8-47a4-967e-9e31d8e856b4,1,ea310921-a66d-4401-88fe-5fd60a6efb2c"/>
    <add key="Senior Center (200)" value="6,3199dd52-7303-4092-9230-9052a1869abd,1,6dce093b-b355-4c3e-b86a-197acf8c9cbf"/>
    <add key="Streets and Drainage (300)" value="5,b933c4a8-87b7-48ff-bc48-d5cb1d24202e,1,9977b94c-28ac-4746-b3ce-458d40c7f89a"/>
    <add key="Hilaman (400)" value="3,132f722a-798f-434c-89d9-5d3f811eb831,1,b6580f93-a202-4e42-b738-1362628ecd46"/>
    <add key="Jake Gaither (500)" value="2,a5cc7988-b77a-4f86-ad98-4e193b80c92b,1,4176aef7-158b-4b65-afc5-0753b9765908"/>
    <add key="Southwood (600)" value="1,4cbc2e21-771f-47de-885f-172ee6755e4f,1,f4e2406d-dbae-4758-87d6-f28fc05b1462"/>
  </SitesAndSensors>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
